:root {
  /* background */
  --bg-dark: #1e1e1e;
  --bg: #282828;
  --bg-light: #373737;
  
  /* text */
  --text: #ebdbb2;
  --text-muted: #928374;
  --text-accent: var(--purple);
  
  /* colours */
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --accent: var(--yellow);
}

